<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'article:home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        О нас
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'redoc' %}">ReDoc</a></li>
                        <li><a class="dropdown-item" href="{% url 'swagger' %}">Swagger</a></li>
                        <li><a class="dropdown-item" href="/admin/doc/">admin</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'article:about_me' %}">
                                О разделе
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Сервисы
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="{% url 'dba:service' %}">Сервисы</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'dba:about_me' %}">
                                О разделе
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Базы данных
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'dba:base' %}">Список баз</a></li>
                        <li><a class="dropdown-item" href="{% url 'dba:table' %}">Таблицы</a></li>
                        <li><a class="dropdown-item" href="{% url 'dba:function' %}">Список функций</a></li>
                        <li><a class="dropdown-item" href="{% url 'dba:my_update' %}">Обновления</a></li>
                        <li><a class="dropdown-item" href="{% url 'dba:column' %}">Столбцы таблиц</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'dba:about_me' %}">
                                О разделе
                            </a>
                        </li>
                    </ul>
                </li>





                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Источники данных
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'data_sources:data-sources' %}"> Источники данных</a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'data_sources:about_me' %}">
                                О разделе
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>
            <ul class="navbar-brand">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <form method="post" action="{% url 'myauth:logout' %}" class="d-inline">
                        {% csrf_token %}
                        <button type="submit"
                                data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-lg">
                            Logout
                        </button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myauth:login' %}">login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>