{% extends 'dba/base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
{% load myapp_extras %}
<div class="container-fluid">
    <div class="pagination">
    <span class="step-links">
        {% if person_page_odj.has_previous %}
            <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
            <a href="{% my_url person_page_odj.previous_page_number 'page' request.GET.urlencode %}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ person_page_odj.number }} of {{ person_page_odj.paginator.num_pages }}.
        </span>
        {% if person_page_odj.has_next %}
            <a href="{% my_url person_page_odj.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a href="{% my_url person_page_odj.paginator_num_page 'page' request.GET.urlencode %}">&raquo;last </a>
        {% endif %}
    </span>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <form method="GET">
                <th scope="col" >base</th>
                <th scope="col">schema</th>
                <th scope="col">table<br>{{ filter.form.table }}</th>
                <th scope="col">column_name<br>{{ filter.form.column_name }}</th>
                <th scope="col">data_type</th>
                <th scope="col">column_com<br>{{ filter.form.column_com }}
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </th>
            </form>
        </tr>
        </thead>
        <tbody>
        {% for elem in person_page_odj %}
        <tr>
            <td>{{ elem.table.schema.base|default_if_none:'' }}</td>
            <td>{{ elem.table.schema|default_if_none:'' }}</td>
            <td><a href="{% url 'table' %}{{ elem.table.pk}}/">{{ elem.table|default_if_none:"" }}</a></td>
            <td>{{ elem.column_name|default_if_none:'' }}</td>
            <td>{{ elem.data_type|default_if_none:'' }}</td>
            <td>{{ elem.column_com|default_if_none:'' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}
