{% extends 'dba/base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <p class="card-title">{{ function.schema.base.table_catalog }}/{{ function.schema }}</p>
            <h2 class="card-title">{{ function.name_fun|safe }}</h2>
            <h4 class="card-title">Описание</h4>
            <p>
                {% for el in stage %}
                |{{ el.stage.stage }}
                {% endfor %}
            </p>
            <p class="card-text">{{function.function_com|safe }}</p>
            <div class="card text-dark bg-light">
                <div class="card-header">Скрипт</div>
                <div class="card-body">
                    <p class="card-text">{{function.code|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}