{% extends 'dba/base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
{% load myapp_extras %}
<div class="container-fluid">
    <div class="pagination">
    <span class="step-links">
        {% if person_page_odj.has_previous %}
            <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
            <a href="{% my_url person_page_odj.previous_page_number 'page' request.GET.urlencode %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ person_page_odj.number }} of {{ person_page_odj.paginator.num_pages }}.
        </span>

        {% if person_page_odj.has_next %}
            <a href="{% my_url person_page_odj.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a href="{% my_url person_page_odj.paginator_num_page 'page' request.GET.urlencode %}">&raquo;last </a>
        {% endif %}
    </span>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <form method="GET">
                <th scope="col">service<br>
                    {{ filter.form.service }}
                </th>
                <th scope="col">is_active<br>
                    {{ filter.form.is_active }}
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </th>
            </form>
        </tr>
        </thead>
        <tbody>
        {% for elem in person_page_odj %}
        <tr>
            <td><a href="{{ elem.get_absolute_url }}">{{ elem.service|default_if_none:'' }}</a></td>
            <td><a href="{{ elem.get_absolute_url }}">{{ elem.is_active|default_if_none:'' }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}
