{% extends 'dba/base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
<div class="container mt-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Обновление</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">name</th>
                    <th scope="col">type</th>
                    <th scope="col">is_active</th>
                    <th scope="col">schedule</th>
                </tr>
                </thead>
                <tbody>
                {% for elem in update %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="#">{{ elem.name}}</a></td>
                    <td>{{ elem.type }}</td>
                    <td>{{ elem.is_active }}</td>
                    <td>{{ elem.schedule }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<h2>Состав таблицы</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">table_catalog</th>
        <th scope="col">schema</th>
        <th scope="col">table</th>
        <th scope="col">column</th>
        <th scope="col">data_type</th>
        <th scope="col">|</th>
        <th scope="col">data_type</th>
        <th scope="col">column</th>
        <th scope="col">table</th>
        <th scope="col">schema</th>
        <th scope="col">table_catalog</th>
    </tr>
    </thead>
    <tbody>
    {% for el in column_column %}
    <tr>
        <th scope="row">{{ forloop.counter|default_if_none:"" }}</th>
        <td>{{ el.main.table.schema.base.table_catalog }}</td>
        <td>{{ el.main.table.schema }}</td>
        <td>{{ el.main.table }}</td>
        <td>{{ el.main }}</td>
        <td>{{ el.main.data_type }}</td>
        <td>|</td>
        <td>{{ el.sub.data_type }}</td>
        <td>{{ el.sub }}</td>
        <td>{{ el.sub.table }}</td>
        <td>{{ el.sub.table.schema }}</td>
        <td>{{ el.sub.table.schema.base.table_catalog }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock%}