{% extends 'dba/base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
{% load myapp_extras %}
<div class="container-fluid">
    <div class="pagination">
    <span class="step-links">
        {% if person_page_odj.has_previous %}
            <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
            <a href="{% my_url person_page_odj.previous_page_number 'page' request.GET.urlencode %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ person_page_odj.number }} of {{ person_page_odj.paginator.num_pages }}.
        </span>

        {% if person_page_odj.has_next %}
            <a href="{% my_url person_page_odj.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a href="{% my_url person_page_odj.paginator_num_page 'page' request.GET.urlencode %}">&raquo;last </a>
        {% endif %}
    </span>
    </div>
    <table class="table table-striped table-hover" style="width: 100%">
        <thead>
        <tr>
            <form method="GET">
                <th scope="col" style="width: 3%;">pk<br></th>
                <th scope="col" style="width: 17%;">name<br> {{ filter.form.name }}</th>
                <th scope="col" style="width: 40%;">description<br> {{ filter.form.description }}</th>

                <th scope="col" style="width: 10%;">is_active<br> {{ filter.form.is_active }}</th>
                <th scope="col" style="width: 20%;">schedule<br>{{ filter.form.schedule }}</th>
                <th scope="col" style="width: 10%;">method<br> {{ filter.form.method }}</th>
                <th scope="col" style="width: 10%;">
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </th>
            </form>
        </tr>
        </thead>
        <tbody>
        {% for elem in person_page_odj %}
        <tr>
            <td><a href="{% url 'link' %}{{ elem.pk }}/">{{ elem.pk|default_if_none:'' }}</a></td>
            <td><a href="{% url 'link' %}{{ elem.pk }}/">({{ elem.columncolumn_set.all|length }}) {{ elem.name|default_if_none:'' }}</a></td>
            <td><a href="{% url 'link' %}{{ elem.pk }}/">{{ elem.description|default_if_none:'' }}</a></td>
            <td><a href="{% url 'link' %}{{ elem.pk }}/">{{ elem.type|default_if_none:"" }}</a></td>
            <td><a href="{% url 'link' %}{{ elem.pk }}/">{{ elem.schedule|default_if_none:'' }}</a></td>
            <td><a href="{% url 'link' %}{{ elem.pk }}/">{{ elem.method|default_if_none:'' }}</a></td>
            <td><a href="{% url 'link' %}{{ elem.pk }}/">{{ elem.is_active|default_if_none:'' }} </a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}
