{% extends 'dba/base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
{% load myapp_extras %}


<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            {% for i_obj in object_list %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ i_obj.title }}</h5>
                    <p class="card-text">{{ i_obj.content|truncatechars:100 }}</p>
                    <a href="{% url 'article:article_detail' slug=i_obj.slug %}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock%}
