<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% with params=request.GET.copy %}
            {% if 'page' in params %}
                {{ params.pop }} {# Удаляем параметр page #}
            {% endif %}

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link bg-dark text-white border-dark"
                       href="?{% if params %}{{ params.urlencode }}&{% endif %}page=1"
                       aria-label="First">
                        &laquo;&laquo;
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-dark text-white border-dark"
                       href="?{% if params %}{{ params.urlencode }}&{% endif %}page={{ page_obj.previous_page_number }}"
                       aria-label="Previous">
                        &laquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link bg-secondary border-dark">&laquo;&laquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link bg-secondary border-dark">&laquo;</span>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="page-link bg-danger border-danger">{{ num }}</span>
                    </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link bg-dark text-white border-dark"
                           href="?{% if params %}{{ params.urlencode }}&{% endif %}page={{ num }}">
                            {{ num }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link bg-dark text-white border-dark"
                       href="?{% if params %}{{ params.urlencode }}&{% endif %}page={{ page_obj.next_page_number }}"
                       aria-label="Next">
                        &raquo;
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link bg-dark text-white border-dark"
                       href="?{% if params %}{{ params.urlencode }}&{% endif %}page={{ page_obj.paginator.num_pages }}"
                       aria-label="Last">
                        &raquo;&raquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link bg-secondary border-dark">&raquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link bg-secondary border-dark">&raquo;&raquo;</span>
                </li>
            {% endif %}
        {% endwith %}
    </ul>
</nav>