<div class="pagination">
    <span class="step-links">
        {% if person_page_odj.has_previous %}
            <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
            <a href="{% my_url person_page_odj.previous_page_number 'page' request.GET.urlencode %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ person_page_odj.number }} of {{ person_page_odj.paginator.num_pages }}.
        </span>

        {% if person_page_odj.has_next %}
            <a href="{% my_url person_page_odj.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a href="{% my_url person_page_odj.paginator_num_page 'page' request.GET.urlencode %}">&raquo;last </a>
        {% endif %}
    </span>
</div>