{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <p class="card-title">{{ base_group.table_catalog }}</p>
            <h2 class="card-title">{{ base_group.name|safe }}</h2>
            <h4 class="card-title">Описание</h4>
            <p class="card-text">{{base_group.name|safe }}</p>
            {% for elem in base %}
            <div class="card text-dark bg-light">
                <div class="card-header">type: {{ elem.type }}</div>
                <div class="card-body">
                    <p class="card-text">base: {{ elem.base }}</p>
                    <p class="card-text">host_name: {{ elem.host_name }}</p>
                    <p class="card-text">host_db: {{ elem.host_db }}</p>
                    <p class="card-text">version: {{ elem.version }}</p>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock%}