{% extends 'dba/base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
<div class="container mt-12">
    <div class="card">
        <div class="card-body">
            <p class="card-title">{{ table.schema.base.table_catalog }}/{{ table.schema }}</p>
            <h2 class="card-title">{{ table.table_name|safe }} - {{ table.table_ru|safe }}</h2>
            <h3 class="card-title">Описание</h3>
            <p class="card-text">{{ table.table_com|safe }}</p>
            <h3 class="card-title">Обновление</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">name</th>
                    <th scope="col">type</th>
                    <th scope="col">is_active</th>
                    <th scope="col">schedule</th>
                </tr>
                </thead>
                <tbody>
                {% for i_obj in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="#">{{ i_obj.name}}</a></td>
                    <td>{{ i_obj.type }}</td>
                    <td>{{ i_obj.is_active }}</td>
                    <td>{{ i_obj.schedule }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <h3 class="card-title">DDL</h3>
            <p><a href="#"> Ссылка на DDL </a></p>
            <h3 class="card-title">Service</h3>
            {% for elem in service %}
            <p><a href="{% url 'dba:service_id' pk=elem.pk %}">{{ elem.service }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 d-flex ">
            <div class="mx-auto">
                <h3>Состав таблицы {{ table.schema.base.table_catalog }}→{{ table.schema }}.{{ table.table_name }}</h3>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">id</th>
        <th scope="col" width="6%">date</th>
        <th scope="col" width="6%">название</th>
        <th scope="col" width="6%">тип данных</th>
        <th scope="col" width="20%">комментарий</th>
        <th scope="col" width="6%">is null</th>
        <th scope="col">default</th>
        <th scope="col">is_auto</th>
        <th scope="col" width="15%">технический комментарий</th>
        <th scope="col" width="10%">stage</th>
        <th scope="col" width="2%">Х</th>
    </tr>
    </thead>
    <tbody>
    {% for elem in column %}
    <tr>
        <th scope="row">{{ forloop.counter|default_if_none:"" }}</th>
        <td>{{ elem.pk }}</td>
        <td>{{ elem.date_create| date:"Y-m-d" }}</td>
        <td>{{ elem.column_name|default_if_none:"" }}</td>
        <td>{{ elem.data_type|default_if_none:"" }}</td>
        <td>{{ elem.column_com|default_if_none:"" }}</td>
        <td>{{ elem.is_nullable|default_if_none:"" }}</td>
        <td>{{ elem.column_default|default_if_none:"" }}</td>
        <td>{{ elem.is_auto|default_if_none:"" }}</td>
        <td>
            {% for el in column_column %}
            {% if elem.pk == el.main.pk and el.sub.table%}
            <a href="{% url 'dba:table_id'  pk=el.sub.table.pk|default_if_none:''  %}">
                <br>{{ el.type }}→{{ el.sub.table }}.{{ el.sub }}
            </a>
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for el in stage %}
            {% if elem.pk == el.column_id %}
            |{{ el.stage.type }}
            {% endif %}
            {% endfor %}
        </td>
        <td>{{ elem.md_type|default_if_none:"" }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock%}