{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}
{% block body %}
{% load myapp_extras %}
<div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <form method="GET">
                <th scope="col">table_catalog<br>
                    {{ filter.form.base }}
                </th>
                <th scope="col">schema<br> {{ filter.form.schema }}</th>
                <th scope="col">is_active<br>{{ filter.form.is_active }}</th>
                <th scope="col">table_name<br>{{ filter.form.table_name }}</th>
                <th scope="col">table_ru <br>{{ filter.form.table_ru }}
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </th>
            </form>
        </tr>
        </thead>
        <tbody>
        {% for elem in object_list %}
        <tr>
            <td>
                <a href="{% url 'dba:table_id' pk=elem.pk %}">
                    {{ elem.schema.base.table_catalog|default_if_none:'' }}
                </a>
            </td>
            <td><a href="{% url 'dba:table_id' pk=elem.pk %}">{{ elem.schema|default_if_none:'' }}</a></td>
            <td><a href="{% url 'dba:table_id' pk=elem.pk %}">{{ elem.is_active|default_if_none:'' }} </a></td>
            <td>
                <a href="{% url 'dba:table_id' pk=elem.pk %}">
                    {{ elem.column_set.all|length }}-{{ elem.table_name|default_if_none:"" }}
                </a>
            </td>
            <td><a href="{% url 'dba:table_id' pk=elem.pk %}">{{ elem.table_ru|default_if_none:'' }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>


{% endblock%}
