{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
{% block body %}
{% include 'inc/_paginator.html' %}
<div class="container-fluid">
    <table class="table table-striped table-hover" style="width: 100%">
        <thead>
        <tr>
            <form method="GET">
                <th scope="col" style="width: 3%;">pk<br></th>
                <th scope="col" style="width: 17%;">name<br> {{ filter.form.name }}</th>
                <th scope="col" style="width: 25%;">description<br> {{ filter.form.description }}</th>
                <th scope="col" style="width: 10%;">is_active<br> {{ filter.form.is_active }}</th>
                <th scope="col" style="width: 10%;">schedule<br>{{ filter.form.schedule }}</th>
                <th scope="col" style="width: 15%;">my_schedule</th>
                <th scope="col" style="width: 10%;">method<br> {{ filter.form.method }}</th>
                <th scope="col" style="width: 10%;">
                    <button type="submit" class="btn btn-primary">Поиск</button>
                </th>
            </form>
        </tr>
        </thead>
        <tbody>
        {% for elem in object_list %}
        <tr>
            <td><a href="{% url 'dba:link_id' pk=elem.pk %}">{{ elem.pk|default_if_none:'' }}</a></td>
            <td>
                <a href="{% url 'dba:link_id' pk=elem.pk %}">
                    ({{ elem.columncolumn_set.all|length }}) {{ elem.name|default_if_none:'' }}
                </a>
            </td>
            <td><a href="{% url 'dba:link_id' pk=elem.pk %}">{{ elem.description|default_if_none:'' }}</a></td>
            <td><a href="{% url 'dba:link_id' pk=elem.pk %}">{{ elem.type|default_if_none:"" }}</a></td>
            <td><a href="{% url 'dba:link_id' pk=elem.pk %}">{{ elem.schedule|default_if_none:'' }}</a></td>
            <td><a href="{% url 'dba:link_id' pk=elem.pk %}">{{ elem.my_schedule|default_if_none:'' }}</a></td>
            <td><a href="{% url 'dba:link_id' pk=elem.pk %}">{{ elem.method|default_if_none:'' }}</a></td>
            <td><a href="{% url 'dba:link_id' pk=elem.pk %}">{{ elem.is_active|default_if_none:'' }} </a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}
